.tempDiv {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5rem;
    text-align: center;
}

.temp {
    color: #000;
    font-family: "Space Mono", monospace;   
}

@media (max-width: 580px) {
    .temp {
        font-size: 3rem;
    }
}