.imageWrapper {
    width: fit-content;
    background-color: white;
    padding: 10px 10px 30px 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transform: rotate(-2deg);
    transition: transform 0.3s ease-in-out;
}

.image {
    height: 300px;
    width: 300px;
    object-fit: cover;
    border: 1px solid #ddd;
}

.imageWrapper:hover {
    transform: rotate(0);
}


@media (max-width: 580px) {

    .imageWrapper {
        margin-top: 2rem;
        margin-bottom: 5rem;
    }
    .image {
        height: 200px;
        width: 200px;
    }

}