.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    border: 2px solid rgb(64, 224, 125);
    border-radius: 1rem;
    overflow: hidden;
    width: 350px;
    text-align: center;
    transition: transform 0.3s ease;
}

.card:hover {
    transform: translateY(-5px);
}

.imageWrapper {
    width: 100%;
    height: 200px;
    overflow: hidden;
}

.imageWrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.articleTitle {
    font-weight: bold;
    padding: 1rem;
    font-size: 1.2rem;
    color: black;
}


@media (max-width: 1024px) {

}

@media (max-width: 580px) {
    .card {
        width: 170px;
        height: 170px;
    }

    .imageWrapper {
        height: 95px;
    }

    .articleTitle {
        text-align: left;
        padding: 0.2rem;
        font-size: 0.7rem;
    }

}