.wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 100vh;
    padding: 2rem;
    padding-left: 7rem;
    padding-right: 7rem;
    position: relative;
    overflow: hidden;
}

.gradientCircle {
    position: absolute;
    border-radius: 50%;
    filter: blur(60px);
    opacity: 0.5;
    z-index: -1;
}

/* .circle1 {
    width: 1000px;
    height: 1000px;
    background: radial-gradient(circle, hsla(0, 100%, 50%, 0.8) 0%, rgba(255,0,0,0) 70%);
    top: 20px;
    left: -50px;
} */

.circle2 {
    width: 600px;
    height: 600px;
    background: radial-gradient(circle, hsla(0, 100%, 50%, 0.8) 0%, rgba(0,255,0,0) 70%);
    bottom: 50px;
    right: 80px;
}

/* .wrapper::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 20px;
    width: 100%;
    height: 20px;
    background-image: url("data:image/svg+xml,%3Csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0,7 Q25,0 50,7 T100,7' stroke='%23FF0000' fill='none' stroke-width='3' stroke-linecap='round'/%3E%3C/svg%3E");
    background-repeat: repeat-x;
    background-size: 100px 15px;
    animation: moveUnderline 10s linear infinite;
}

@keyframes moveUnderline {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 100px 0;
    }
} */

.heroContent {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.introText {
    flex: 1;
    padding-right: 2rem;
    color: #000;
}

.name {
    font-family: 'NeueMontrealThin', sans-serif;
    font-size: 9rem;
    letter-spacing: -5px;
    font-weight: 600;
    word-spacing: 4px;
    display: flex;
    align-items: center;
    gap: 2rem;
}

.wavingHand {
    width: 100px;
    height: 100px;
}

.nameitalic {
    font-family: "gt-alpina", serif;
    font-size: 9rem;
    letter-spacing: 1px;
    font-weight: 300;
    position: relative;
}

.nameitalic::after {
    content: "";
    position: absolute;
    width: 100%;
    border-top: solid 3px #FF0000;
    left: 0;
    bottom: 5px;
    border-radius: 100%;
    height: 8px;
}

.introduction {
    font-family: "NeueMontrealThin", sans-serif;
    font-size: 2rem;
    line-height: 1.6;
    font-weight: 800;
}

.inside {
    transition: background-color 0.3s ease, backdrop-filter 0.3s ease;
    color: rgb(237, 238, 242);
    background-color: hsla(0, 100%, 50%, 0.651);
    padding-left: 10px;
    padding-right: 10px;
}

.links {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;
}

.socials {
    display: flex;
    gap: 0.5rem;
}

.socialLink {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    color: #000;
}

.mediumSvg {
    width: 30px;
    height: 30px;
}

.xSvg {
    width: 20px;
    height: 20px;
}

.model {
    width: 40%;
    height: 600px;
    background: transparent;
}

@media (max-width: 1024px) {
    .wrapper {
        margin-top: 0rem;
        min-height: 80vh;
        padding: 2rem;
    }

    .heroContent {
        flex-direction: column;
        text-align: center;
    }

    .introText {
        padding-right: 2rem;
        padding-left: 2rem;
        margin-bottom: 2rem;
    }

    .name {
        font-size: 4rem;
        letter-spacing: -3px;
        display: flex;
        justify-content: center;
    }

    .introduction {
        font-size: 1.3rem;
    }

    .links {
        flex-direction: column;
        align-items: center;
    }

    .socials {
        margin-top: 0rem;
    }

    .model {
        display: none;
    }
}

@media (max-width: 580px) {
    .wrapper {
        min-height: 100vh;
        margin-top: 1rem;
        padding: 0;
        margin-bottom: 3rem;
    }
    
    .name {
        text-align: center;
        font-weight: 600;
        font-size: 5rem;
        display: flex;
        justify-content: center;
    }

    .wavingHand {
        width: 70px;
        height: 70px;
    }

    .nameitalic {
        font-size: 5rem;
    }
    
    .introduction {
        font-family: "NeueMontreal", sans-serif;
        font-size: 1.2rem; 
    }
    
    .socials {
        gap: 0.7rem;
    }
    
    .socialLink {
        width: 30px;
        height: 30px;
    }
    
    .mediumSvg {
        width: 25px;
        height: 25px;
    }
}