.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 2rem;
}

.heroContent {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    width: 100%;
}

.introText {
    flex: 1;
    padding-right: 2rem;
    padding-left: 2rem;
    color: #FBF6EE;
}

.name {
    font-family: "Space Mono", monospace;
    font-weight: 700;
    font-size: 5rem;
    font-weight: bold;
    margin-left: 0;
    margin-bottom: 1rem;
    letter-spacing: -5px;
    color: rgb(64, 224, 125);
    text-shadow: 4px 4px 2px #C1F2B0;
}

.introduction {
    font-size: 1.5rem;
    line-height: 1.6;
}

.introduction::selection {
    background-color: rgb(64, 224, 125);
}

.inside {
    transition: background-color 0.3s ease, backdrop-filter 0.3s ease;
    color: rgb(64, 224, 125);
}

.links {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;
}

.socials {
    display: flex;
    gap: 0.5rem;
}

.socialLink {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    color: rgb(64, 224, 125);
}

.mediumSvg {
    width: 30px;
    height: 30px;
}

.imageContainer {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;  
}

.profileImage {
    width: 350px;
    height: 350px;
    object-fit: cover;
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
}

@media (max-width: 1024px) {
    .wrapper {
        margin-top: 0rem;
        min-height: 80vh;
        padding: 2rem;
    }

    .heroContent {
        flex-direction: column;
        text-align: center;
    }

    .introText {
        padding-right: 2rem;
        padding-left: 2rem;
        margin-top: 2rem;
        margin-bottom: 2rem;
    }

    .name {
        font-size: 4rem;
        margin-left: 13rem;
        letter-spacing: -3px;
    }

    .introduction {
        font-size: 1.3rem;
    }

    .links {
        flex-direction: column;
        align-items: center;
    }

    .socials {
        margin-top: 0rem;
    }

    .imageContainer {
        margin-top: 3rem;
    }
}

@media (max-width: 580px) {
    .wrapper {
        margin-top: 3rem;
        min-height: 80vh;
        padding: 0;
        margin-bottom: 3rem;
    }
    
    .name {
        text-align: center;
        margin-left: 1.3rem;
        font-size: 2.5rem;
        text-shadow: 2px 2px 2px #C1F2B0;
    }
    
    .introduction {
        font-size: 1rem; 
    }
    
    .socials {
        gap: 0.7rem;
    }
    
    .socialLink {
        width: 30px;
        height: 30px;
    }
    
    .mediumSvg {
        width: 25px;
        height: 25px;
    }

    .imageContainer {
        margin-top: 1rem;
    }
    
    .profileImage {
        width: 200px;
        height: 200px;
    }
}