.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.75rem 7rem;  
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    transition: background-color 0.3s ease, backdrop-filter 0.3s ease;
}
  
.logo {
    color: #ffffff;
    font-family: "Space Mono", monospace;
    font-size: 2.3rem;  
    font-weight: 700;
    text-decoration: none;
}

  .time {
    color: rgb(64, 224, 125);
  }
  
  .navLinks {
    display: flex;
    align-items: center;
    gap: 2rem;  
  }
  
  .navLink {
    font-size: 1.5rem;  
    text-decoration: none;
    color: #ffffff;
    transition: color 0.3s ease;
  }
  
  .navLink:hover {
    color: rgb(64, 224, 125);
  }
  
  .transparent {
    background-color: transparent;
  }
  
  .scrolled {
    backdrop-filter: blur(40px);
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  }