.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.75rem 7rem;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  transition: background-color 0.3s ease, backdrop-filter 0.3s ease;
}

.logo {
  color: #000;
  font-family: "NeueMontrealThin", sans-serif;
  letter-spacing: 3px;
  font-size: 2.5rem;
  font-weight: 700;
  text-decoration: none;
}

.desktopMenu {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.navLink {
  font-family: NeueMontreal, sans-serif;
  font-size: 1.5rem;
  color: #000;
  transition: color 0.5s ease;
}

.navLink:hover {
  color: rgb(255, 0, 0);
}

.resumeButtonMain {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  border: 1px solid #000;
  text-decoration: none;
  overflow: hidden;
  cursor: pointer;
  transition: color 0.3s ease;
}

.resumeButtonMain:hover {
  color: rgb(237, 238, 242);
}

.transparent {
  background-color: transparent;
}

.scrolled {
  background: inherit;
  backdrop-filter: blur(20px);
  box-shadow: 0 4px 6px 2px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

.mobileMenuToggle {
  display: none;
}

.mobileMenu {
  display: none;
}

@media only screen and (max-width: 768px) {
  .navbar {
    padding: 0.75rem 2rem;
    z-index: 1005;
  }

  .desktopMenu {
    display: none;
  }

  .mobileMenuToggle {
    display: block;
    position: relative;
  }

  .mobileMenu {
    display: flex;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(237, 238, 242);
    z-index: 1003;
  }

  .mobileMenuContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: 2rem;
  }

  .mobileMenuLinks {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }

  .mobileNavLink {
    font-size: 2rem;
    text-decoration: none;
    color: #000;
  }

  .resumeButtonMobile {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    border: 1px solid #000;
    color: #000;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
    transition: color 0.3s ease;
  }

  .resumeButtonMobile:hover {
    color: rgb(237, 238, 242);
  }
}