.skillsSection {
  padding: 2rem 0;
  overflow: hidden;
}

.title {
  text-align: center;
  font-size: 5rem;
  font-weight: bold;
  margin-bottom: 2rem;
  color: #06D001;
  text-shadow: 4px 4px 2px #C1F2B0;
}

.marquee {
  font-size: 4rem;
  font-weight: bold;
  padding: 0.1rem 0;
  text-transform: uppercase;
}