.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin-bottom: 5rem;
    margin-top: 2rem;
}

.heading {
  font-size: 5rem;
  font-weight: bold;
  text-align: center;
  color: white;
}

.skills {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    max-width: 1200px;
    gap: 15rem;
    align-items: center;
    margin-top: 2rem;
}

.skillsGlobe {
  display: flex;
  height: 100%;
  width: 100%;
  max-width: 32rem;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  margin-right: 2rem;
  padding-left: 5rem;
  padding-right: 5rem;
  padding-bottom: 5rem;
}

.skillsText {
  display: flex;
  flex-direction: column;
  color: rgb(64, 224, 125);
  align-items: start;
  margin-left: 5rem;
}

/* Tablets */
@media (max-width: 1024px) {

}

/* Mobile */
@media (max-width: 580px) {
  .wrapper {
    min-height: 60vh;
    margin-top: 0rem;
    margin-bottom: 3rem;
    justify-content:space-between;
  }

  .heading {
    padding-top: 0rem;
    margin-top: 0;
    font-size: 3.5rem;
  }

  .skills {
    max-width: 600px;
  }

  .skillsText {
    display: none;
  }

  .skillsGlobe {
    margin: 0 auto;
    min-width: 25rem;
    padding-bottom: 7rem;
    padding-left: 4rem;
  }
}
  
