.section {
    min-height: 100vh;
    overflow: hidden;
    padding-top: 0rem;
    padding-bottom: 5rem;
    padding-left: 7rem;
}

.container {
    margin-left: auto;
    margin-right: auto;
}

.heading {
    font-family: "gt-alpina", serif;
    font-size: 8rem;
    letter-spacing: 1px;
    font-weight: 100;
    margin-bottom: 3rem;
    text-align: left;
}

.skillRow {
    margin-bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    color: hsl(0 0% 0% / 30%);
}

.skillName {
    font-size: 6rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.01em;
    margin-left: 1rem ;
    margin-right: 1rem;
}


@media (max-width: 1024px) {
    .section {
        padding-left: 0;
    }

    .container {
        max-width: 600px;
    }

    .heading {
        font-size: 5.5rem;
        text-align: center;
    }

    .skillName {
        font-size: 4rem;
    }
}

@media (max-width: 580px) {
    .section {
        padding-bottom: 3rem;
    }

    .container {
        max-width: 600px;
    }

    .heading {
        font-size: 5rem;
    }

    .skillName {
        font-size: 3rem;
    }
}

