@tailwind base;
@tailwind components;
@tailwind utilities;


/*
  primary: rgb(237, 238, 242),
  font: #000
  secondary: #FF0000
*/

body {
    background-color: rgb(237, 238, 242); 
    color: #000; 
    font-family: "NeueMontreal", sans-serif;
    -webkit-font-smoothing: inherit;
}
  
#root {
    min-height: 100vh;
}

@font-face {
  font-family: "NeueMontrealItalic";
  src: url(/public/PPNeueMontreal-Italic.otf) format("opentype");
}

@font-face {
  font-family: "NeueMontreal";
  src: url(/public/PPNeueMontreal-Medium.otf) format("opentype");
}

@font-face {
  font-family: "NeueMontrealThin";
  src: url(/public/PPNeueMontreal-Thin.otf) format("opentype"); 
}

@font-face {
  font-family: "gt-alpina";
  src: url(/public/GT-Alpina.ttf) format("truetype");
}